{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>InstaClone</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/insta.css' %}">
    </head>
    <body>
        <header>
            <div class="navigation">
                <div class="instalogo">
                    <a class="" href="/"><i class="fab fa-instagram"></i></a>
                    <a class="v1" href="/"></a>
                    <a href="/">Instagram</a>
                </div>
                <div class="search_bar">
                    <input type="text" placeholder="search">
                    <a class="search" href=""><i class="fas fa-search"></i></a>
                </div>
                <div class="contact_icons">
                    <a class="explore" href="/"><i class="far fa-compass"></i></a>
                    <a class="likes" href="/"><i class="far fa-heart"></i></a>
                    <a class="profile" href="/"><i class="far fa-user"></i></a>
                </div>
            </div>    
        </header>
        <div class="content_container">
            {% block content %}
            {% endblock %}
        </div> 
    </body>
</html>